.img-profile {
    position: relative;
}
.source {
    color: #ffffff;
    background: #cd5353;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 1px 12px;
}
/* --------------------------------------------------------------- */
/* --------------------- Main navigation ------------------------- */
/* --------------------------------------------------------------- */

.main-nav ul li {
    position: relative;
    border-bottom: 1px solid #26292e;
}
.main-nav ul li:last-child {
    border-bottom: none;
}
.main-nav ul li a {
    display: table;
    text-align: right;
    background: #33373d;
    color: #85878b;
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 25px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width: 100%;
}
.main-nav li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #cd5353;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    -ms-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.main-nav li a:hover,
.main-nav li a:focus,
.main-nav li a:active {
    color: #ffffff;
}
.main-nav li a:hover:before,
.main-nav li a:focus:before,
.main-nav li a:active:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.main-nav li a.active:before {
    color: #ffffff;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #cd5353;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    -ms-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.main-nav li a.active {
    color: #ffffff;
    background: #cd5353;
}
.main-nav ul li a i {
    position: absolute;
    left: 25px;
    font-size: 22px;
}
.social li {
    display: inline-block;
    margin-right: 2px;
    text-align: center;
}
.social a {
    border: 2px solid #33373d;
    color: #33373d;
    display: inline-block;
    height: 35px;
    width: 35px;
}

.social li i {
    line-height: 32px;
    font-size: 12px;
}

.social a:hover {
    border: 2px solid #cd5353;
    color: #cd5353;
}

.bottom-header p {
    margin-top: 10px;
    font-size: 13px;
}

.content {
    padding: 40px;
}
.content.single {
    padding: 40px 40px 0;
}

.profile h1 {
    font-size: 28px;
    line-height: 25px;
}
.profile h3 {
    font-size: 22px;
    color: #777777;
}

/* --------------------------------------------------------------- */
/* -------------------------- Timeline --------------------------- */
/* --------------------------------------------------------------- */

.timeline {
    position: relative;
}

.timeline:before {
    background: #ededed;

    background: -moz-linear-gradient(top, #ededed 1%, #ededed 75%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ededed), color-stop(75%, #ededed), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #ededed 1%, #ededed 75%, #ffffff 100%);
    background: -o-linear-gradient(top, #ededed 1%, #ededed 75%, #ffffff 100%);
    background: -ms-linear-gradient(top, #ededed 1%, #ededed 75%, #ffffff 100%);
    background: linear-gradient(to bottom, #ededed 1%, #ededed 75%, #ffffff 100%);
    //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
    bottom: 0;
    content: "";
    left: 18px;
    position: absolute;
    top: 0;
    width: 3px;
    height: 100%;
}

.timeline:after {
    background: #ffffff;
    border: 3px solid #efefef;
    font-family: 'fontello';
    top: 0;
    left: -5px;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    color: #333333;
    font-size: 20px;
    line-height: 45px;
}

.exp {
    padding-left: 50px;
    padding-top: 20px;
    position: relative;
    margin-bottom: 10px;
}
.exp:after {
    background: #cd5353;
    border: 3px solid #ffffff;
    content: "";
    height: 15px;
    left: 12px;
    position: absolute;
    text-align: center;
    top: 24px;
    width: 15px;
}
.exp .hgroup h4,
h6 {
    margin-bottom: 0;
}
.exp .hgroup h4 {
    text-transform: none;
}
.exp .hgroup {
    margin-bottom: 5px;
}
.exp .hgroup h6 {
    text-transform: none;
    font-size: 12px;
    color: #666666;
}
.exp .hgroup h6 i {
    color: #cccccc;
    margin-right: 5px;
}
.exp .hgroup h6 span.current {
    color: #ffffff;
    background: #cd5353;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 1px 12px;
}

/* --------------------------------------------------------------- */

a {
    color: #cd5353;
}

.post-table {
    width: 100%;
}

.post-table tr td {
    padding: 5px;
    border: 1px solid #efefef;
}

.post-table .date {
    width: 100px;
    background-color: #efefef;
}




/* Tablet Portrait size -> standard 960 */

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    .nopr {
        padding-right: 15px;
    }
    .main-nav.tabbed ul li {
        float: left;
        width: 20%;
        border-right: 1px solid #26292e;
        border-bottom: none;
    }
    .main-nav.tabbed ul li:last-child {
        border-right: none;
        border-bottom: none;
    }
    .img-profile .name-profile {
        display: none;
    }
    .bottom-header {
        margin-bottom: 10px;
    }

    .block.service div {
        margin-bottom: 30px;
    }
    .block.service div:last-child {
        margin-bottom: 0;
    }
}
/* Mobile Landscape Size -> Tablet Portrait size*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    .nopr {
        padding-right: 15px;
    }
    .main-nav.tabbed ul li {
        float: left;
        width: 20%;
        border-right: 1px solid #26292e;
        border-bottom: none;
    }
    .main-nav.tabbed ul li a {
        font-size: 0;
    }
    .main-nav.tabbed ul li:last-child {
        border-right: none;
        border-bottom: none;
    }
    .main-nav.tabbed ul li a i {
        left: 0;
        text-align: center;
        width: 100%;
    }
    .img-profile .name-profile {
        display: none;
    }
    .bottom-header {
        margin-bottom: 10px;
    }
    .info ul.info-list {
        margin-bottom: 10px;
    }
    .info ul.info-list li .inf {
        left: -2px;
    }
    .block.service div {
        margin-bottom: 30px;
    }
    .block.service div:last-child {
        margin-bottom: 0;
    }
    .filter li {
        display: block;
        margin: 10px 0;
    }
    .post-meta li {
        float: none;
    }
    .post-title h1,
    .post-title a {
        line-height: 30px;
        display: block;
    }
    span.meta-date {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .comments .replys.children {
        margin-left: 40px;
    }
    .block-quote blockquote {
        padding-right: 0;
    }
}
/* Mobile Portrait Size -> Mobile Landscape Size */

@media only screen and (max-width: 479px) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    .nopr {
        padding-right: 15px;
    }
    .main-nav.tabbed,
    .main-nav.tabbed li {
        background: #33373d;
    }
    .main-nav.tabbed ul li {
        float: left;
        width: 20%;
        border-right: 1px solid #26292e;
        border-bottom: none;
    }
    .main-nav.tabbed ul li a {
        font-size: 0;
    }
    .main-nav.tabbed ul li:last-child {
        border-right: none;
        border-bottom: none;
    }
    .main-nav.tabbed ul li a i {
        left: 0;
        text-align: center;
        width: 100%;
    }
    .about .profile h1 {
        font-size: 25px;
    }
    .about .profile h3 {
        line-height: 30px;
        font-size: 20px;
    }
    .img-profile .name-profile {
        display: none;
    }
    .bottom-header {
        margin-bottom: 10px;
    }
    .info ul.info-list {
        margin-bottom: 10px;
        border-left: 0;
    }
    .info ul.info-list li {
        border-bottom: 1px solid #efefef;
        border-left: 1px solid #efefef;
    }
    .info ul.info-list li .inf {
        width: 100%;
        border-right: 0;
        border-left: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
    }
    .block.service div {
        margin-bottom: 30px;
    }
    .block.service div:last-child {
        margin-bottom: 0;
    }
    .block-quote {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .block-quote .block-img,
    .block-quote .block-icon {
        display: none;
    }
    .filter li {
        display: block;
        margin: 10px 0;
    }
    .post-meta li {
        float: none;
    }
    .post-title h1,
    .post-title a {
        line-height: 30px;
        display: block;
    }
    span.meta-date {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .block-single h1.large-title {
        font-size: 25px;
        line-height: 40px;
    }
    .block-single.margBottom {
        margin-bottom: 20px !important;
    }
    .input-columns .column1,
    .input-columns .column2 {
        width: 100%;
    }
    .input-columns .column1 .column-inner {
        padding: 0;
    }
    .button .but {
        margin-bottom: 10px;
    }
    .block-quote blockquote {
        padding-right: 0;
    }
}
/* -------------------- End media queries -------------------- */


.post p {
    margin-bottom: 15px;
}

.post ul {
    list-style-type: circle;
    margin-bottom: 15px;
}

.post ul li {
    margin-left: 30px;
    list-style-type: circle;
}


.center-image
{
    margin: 0 auto;
    display: block;
}